# Path-based git attributes
# https://www.kernel.org/pub/software/scm/git/docs/gitattributes.html

# Ignore all test and documentation with "export-ignore".
/.editorconfig          export-ignore
/.gitattributes         export-ignore
/.github                export-ignore
/.gitignore             export-ignore
/.idea                  export-ignore
/.phpunit.cache         export-ignore
/.prettierrc            export-ignore
/.vscode                export-ignore
/CHANGELOG.md           export-ignore
/CODE_OF_CONDUCT.md     export-ignore
/CONTRIBUTING.md        export-ignore
/UPGRADING.md           export-ignore
/bin                    export-ignore
/build                  export-ignore
/composer.lock          export-ignore
/phpstan.neon.dist      export-ignore
/phpunit.xml.dist       export-ignore
/pint.json              export-ignore
/testbench.yaml         export-ignore
/tests                  export-ignore
/vendor                 export-ignore
